In [17]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

In [18]:
data=pd.read_csv("https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/Shopping_Revenue.csv")

In [19]:
data

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,7/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753
1,1,2/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131
2,2,3/9/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379
3,3,2/2/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511
4,4,5/9/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,132,6/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,3.0,0,0,0,0,0,0,0,0,5787594
133,133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,9262754
134,134,7/8/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2544857
135,135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,7217634
136,136,9/1/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,6363241

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          133 non-null    float64
 11  P7          133 non-null    float64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    int64
dtypes: float64(10), int64(29), object(4)
memory usage: 46.1+ KB

In [21]:
y=data.loc[:,"revenue"]
data.drop(columns="revenue",inplace=True)
y

0      5653753
1      6923131
2      2055379
3      2675511
4      4316715
        ...
132    5787594
133    9262754
134    2544857
135    7217634
136    6363241
Name: revenue, Length: 137, dtype: int64

In [22]:
X=data.iloc[:,5:]
X

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,4,5.0,4.0,4.0,2,2.0,5.0,4,5,5,...,2.0,3.0,5,3,4,5,5,4,3,4
1,4,5.0,4.0,4.0,1,2.0,5.0,5,5,5,...,3.0,3.0,0,0,0,0,0,0,0,0
2,2,4.0,2.0,5.0,2,3.0,5.0,5,5,5,...,1.0,3.0,0,0,0,0,0,0,0,0
3,6,4.5,6.0,6.0,4,4.0,10.0,8,10,10,...,2.5,7.5,25,12,10,6,18,12,12,6
4,3,4.0,3.0,4.0,2,2.0,5.0,5,5,5,...,1.0,3.0,5,1,3,2,3,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2,3.0,3.0,5.0,4,2.0,4.0,4,4,4,...,2.0,3.0,0,0,0,0,0,0,0,0
133,4,5.0,4.0,4.0,2,3.0,5.0,4,4,5,...,3.0,3.0,0,0,0,0,0,0,0,0
134,3,4.0,4.0,4.0,2,3.0,5.0,5,5,5,...,2.0,3.0,0,0,0,0,0,0,0,0
135,4,5.0,4.0,5.0,2,2.0,5.0,5,5,5,...,3.0,3.0,0,0,0,0,0,0,0,0
136,4,5.0,3.0,5.0,2,2.0,5.0,4,4,5,...,3.0,3.0,0,0,0,0,0,0,0,0

In [23]:
data_city=pd.get_dummies(data["City"],drop_first=True)
data_city

,Afyonkarahisar,Amasya,Ankara,Antalya,Aydın,Balıkesir,Bolu,Bursa,Denizli,Diyarbakır,...,Osmaniye,Sakarya,Samsun,Tekirdağ,Tokat,Trabzon,Uşak,İstanbul,İzmir,Şanlıurfa
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [24]:
data_city_group=pd.get_dummies(data["City Group"],drop_first=True)
data_city_group

     Other
0        0
1        0
2        1
3        1
4        1
..     ...
132      1
133      0
134      1
135      0
136      0

[137 rows x 1 columns]

In [25]:
data_Type=pd.get_dummies(data["Type"],drop_first=True)
data_Type

     FC  IL
0     0   1
1     1   0
2     0   1
3     0   1
4     0   1
..   ..  ..
132   1   0
133   1   0
134   1   0
135   1   0
136   1   0

[137 rows x 2 columns]

In [26]:
X=pd.concat([X,data_city_group,data_Type],axis=1)
X

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P31,P32,P33,P34,P35,P36,P37,Other,FC,IL
0,4,5.0,4.0,4.0,2,2.0,5.0,4,5,5,...,3,4,5,5,4,3,4,0,0,1
1,4,5.0,4.0,4.0,1,2.0,5.0,5,5,5,...,0,0,0,0,0,0,0,0,1,0
2,2,4.0,2.0,5.0,2,3.0,5.0,5,5,5,...,0,0,0,0,0,0,0,1,0,1
3,6,4.5,6.0,6.0,4,4.0,10.0,8,10,10,...,12,10,6,18,12,12,6,1,0,1
4,3,4.0,3.0,4.0,2,2.0,5.0,5,5,5,...,1,3,2,3,4,3,3,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2,3.0,3.0,5.0,4,2.0,4.0,4,4,4,...,0,0,0,0,0,0,0,1,1,0
133,4,5.0,4.0,4.0,2,3.0,5.0,4,4,5,...,0,0,0,0,0,0,0,0,1,0
134,3,4.0,4.0,4.0,2,3.0,5.0,5,5,5,...,0,0,0,0,0,0,0,1,1,0
135,4,5.0,4.0,5.0,2,2.0,5.0,5,5,5,...,0,0,0,0,0,0,0,0,1,0
136,4,5.0,3.0,5.0,2,2.0,5.0,4,4,5,...,0,0,0,0,0,0,0,0,1,0

In [27]:
X_train , X_test , y_train , y_test= train_test_split(X,y,test_size=0.2,random_state=51)

In [29]:
regressor=RandomForestRegressor()
regressor.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').